$urlAssets: "https://d1ts5g4ys243sh.cloudfront.net/proyectos_especiales_general/depor/prod/";
$slugCommonAssets: "elementos-comunes/";
$urlCommonAssets: $urlAssets + $slugCommonAssets;

//fonts
$icomoon: "icomoon";
$pathFonts: $urlCommonAssets + "fonts/";

$preloBold: "Prelo-Bold";
$preloMedium: "Prelo-Medium";
$preloExtraBold: "Prelo-ExtraBold";

//body
$whiteColor: #fff;
$blackColor: #000;
$lightGreen: #ef000d; //#f8670b betsson;
$backgroundColorBody: $whiteColor;
$yellow2025: #cfd607;
$femenino: #812177;

//header Depor
$backgroundColorHeader: $blackColor;
$colorCruz: #fff;
$widthLogo: 70px;
$heightLogo: 26px;
$backgroundSize: 80%;
$headerHeight: 46px;

//especial
$layoutMaxWidth: 960px;
$bgMatchDaysColor: $femenino;
$bgMatchDays2Color: #919191;
$activeBgMatchDaysColor: $blackColor;
$standingColor: $blackColor;
$bgFirstPosition: #812177; //#fcc772;betsson
$bgSecondPosition: #812177;
$bgThirdPosition: #ffecb7;
$bgFourthPosition: #f0f0ce;
$bgMiddlePosition: #f5f5f5;
$bgBeforeLastPosition: #dbdbdb;
$bgLastPosition: #acacac;
$bannerHeadingHeight: 234px;
$bgLegends: (
  1: $bgFirstPosition,
  2: #ffecb7,
  3: $bgThirdPosition,
  4: $bgFourthPosition,
  5: $bgLastPosition,
);
$matchDays: 19; //cambiar por nro de fechas
$amountOfLegends: 1; //1 para Apertura, 5 para el Clausura. Ver src/Constants.ts
$positionLeftButtonControlSlider: -35px;
$positionRightButtonControlSlider: -30px;
$bgOddMatch: #e0e0e0;
$scoreSeparatorWidth: 4px;
$matchDayWidth: 45px;
$matchDayHeight: 33px;
$matchDayFontSize: 18px;
$matchDayFontSpacing: 24px;
$bgInputScore: $blackColor;
$inputScoreColor: $whiteColor;
$inputReadOnlyScoreColor: #807d7d;
$bgReadOnlyInputScoreColor: #e9ecef;
$bgFormButtonColor: $activeBgMatchDaysColor;
$bgFormButtonColor2: #812177;
$headingTableFontSize: 40px;
$headingTableFontSpacing: 88px;
$btnAperturaFontSize: 17px;
$btnAperturaFontSpacing: 17px;
$legendFontSize: 14px;
$legendFontSpacing: 24px;
$btnBgColor: #fcc772;
$bgFooter: #d8edfb;

//tablet
$bannerHeadingTabletHeight: 300px;
$bannerHeadingTablet768Height: 188px;
$bannerHeadingTablet640Height: 153px;
$bannerHeadingTablet540Height: 132px;

//mobile
$bannerHeadingMobileHeight: 275px;
$positionLeftMobileButtonControlSlider: -30px;
$positionRightMobileButtonControlSlider: -25px;
$matchDayMobileWidth: 32px;
$matchDayMobileHeight: 24px;
$matchDayMobileFontSize: 14px;
$matchDayMobileFontSpacing: 20px;
$matchDayXsMobileWidth: 26px;
$matchDayXsMobileHeight: 22px;
$matchDayXsMobileFontSize: 12px;
$matchDayXsMobileFontSpacing: 12px;
$headingTableMobileFontSize: 30px;
$headingTableMobileFontSpacing: 60px;
$btnAperturaMobileFontSize: 14px;
$btnAperturaMobileFontSpacing: 14px;
$legendMobileFontSize: 12px;
$legendMobileFontSpacing: 20px;
$legendXsMobileFontSize: 10px;
$legendXsMobileFontSpacing: 14px;

//mobile xs
$bannerHeadingXsMobileHeight: 258px;
$bannerHeadingXs375MobileHeight: 248px;
$bannerHeadingXs360MobileHeight: 238px;
