//body
$whiteColor: #FFF;
$blackColor: #000;
$backgroundColorBody: $whiteColor;

//header Depor
$heightLogo: 26px;
$backgroundSize: 80%;

$colorCruz: #FFF;
$widthLogo: 70px;
$backgroundColorHeader: $blackColor;
$headerHeight: 46px;
$font-ubuntu: "Ubuntu", sans-serif;
$font-barlow: "Barlow", Arial, sans-serif;
$medium: 500;
$bold: 700;